@import "tailwindcss";

@font-face {
    font-family: 'Daeojamjil';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

body {
  font-family: "Daeojamjil", sans-serif;
}
