@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/PretendardVariable.woff2")
    format("woff2");
  font-weight: 45 920;
  font-display: swap;
}

body {
  font-family: "Pretendard", sans-serif;
}
